<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="{% url 'courses:teacher' %}">Teacher</a>
    <a href="{% url 'courses:courses' %}">Courses</a>
    <a href="{% url 'courses:homeworks' %}">Homeworks</a>
    {% block content %}

    {% endblock %}
</body>
</html>